.table{
  caption{
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    color: #0a3356;
  }

  thead{
    background: #f5f5f5;
    border: 0;
    th{
      color: #95989A;
      font-size: 12px;
      font-weight: 500;
      padding: 15px 30px;
      text-transform: uppercase;
    }
  }

  tbody{
    td{
      font-size: 16px;
      margin: 0;
      padding: 15px 30px;
    }
  }

  &.highlight > tbody > tr:hover{
    background: #f5f5f5;
  }
}
