html, body{
  height: 100%;
}

body{
  background: #fbfbfb;
}

main {
  display: block;
}

footer {
  bottom: 0;
  padding: 30px 0;
  position: absolute;
  width: 100%;
}

.global {
  min-height: 100%;
  padding-bottom: 500px;
  position: relative;
}

.container {
  max-width: none;
  width: 85%;
}

a{
  color: #039BE5;
  &:hover, &:focus{
    text-decoration: underline;
  }
}

.group-search{
  background: #fff;
  margin-bottom: 60px;
  padding: 60px 0;
}
