.tabs{
  background: rgba(0, 0, 0, 0);
  margin-bottom: 30px;
  text-align: center;
  width: auto;

  .tab a{
    color: #fe7200;
    padding: 0 25px; @media #{$medium-and-up} { padding: 0 60px; }
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
    &.active{
      color: white;
    }
  }

  .indicator {
    background-color: #fe7200;
    border-radius: 42px;
    height: auto;
    top: 0;
    z-index: -1;
  }
}
