.card{
  box-shadow: none;
  transition: box-shadow .25s;

  &:hover, &:focus{
    box-shadow: 0 3px 3px rgba(0,0,0,0.08), 0px 3px 10px rgba(0,0,0,0.08);
  }
  
  .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
    color: #039BE5;
  }
}
