.card-frequency{
  @extend .card-panel;
  background: #2D8DD6;
  box-shadow: none;
  padding: 0;
  transition: box-shadow .25s;
  &:hover, &:focus{
    box-shadow: 0 3px 3px rgba(0,0,0,0.08), 0px 3px 10px rgba(0,0,0,0.08);
  }
}
