/* AccuInventory - Personal Classes */

.index-tabs {
  margin-top: 30px;
}

img.onmiddle {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.order-cards {
    padding-right: 0px !important;
    padding-bottom: 1px !important;
}

.order-crd-left {
    padding-left: 40px;
}

.lpn-cards {
  line-height: 0em;
  padding-left: 20px;
  height: 114px;
}

.cardtitle-size {
  height: 80px;
}

.tab-line {
    border-bottom: 1px solid #ddd
}

.pages-row {
    margin-top: 0rem !important;
}

.favorite-icon {
    float: right;
    color: orange;
    position: relative;
    top: 10px;
    right: 10px;
}

.index-page-title {
  background-color: transparent !important;
  margin-bottom: -2rem !important;
}

.indigo-darken-4-text {
  color: #1a237e;
}


/* TIMELINE HORIZONTAL -------------------------- */
.timeline {
    position: relative;
    min-height: 40px;
    padding: 8px 0 8px 62px
}

.timeline,
.timeline *,
.timeline:after,
.timeline:before,
.timeline:after,
.timeline:before {
    box-sizing: border-box
}

.timeline:before {
    position: absolute;
    left: 29px;
    top: 0;
    bottom: 0;
    width: 3px;
    background: rgba(0, 0, 0, .085);
    content: '';
    display: block
}

.timeline_item {
    position: relative;
    min-height: 64px;
    padding: 16px 0
}

.timeline_icon {
    position: absolute;
    left: -54px;
    top: 16px;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background: #9e9e9e;
    text-align: center;
    border: 4px solid #fff
}

.timeline_icon .material-icons {
    color: #fff;
    font-size: 18px;
    line-height: 36px
}

.timeline_icon_danger {
    background: #e53935
}

.timeline_icon_success {
    background: #7cb342
}

.timeline_icon_warning {
    background: #ffa000
}

.timeline_icon_primary {
    background: #2196f3
}

.timeline_date {
    float: left;
    min-width: 60px;
    color: #aaa;
    text-align: center;
    line-height: 18px;
    font-size: 16px;
    margin-right: 8px;
    padding-top: 6px
}

.timeline_date span {
    font-size: 11px;
    display: block;
    text-transform: uppercase
}

.timeline_content {
    padding: 5px 4px 8px;
    overflow: hidden
}

.timeline_content_addon {
    background: #fff;
    margin-top: 8px;
    max-width: 340px;
    padding: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    border-radius: 4px
}

.timeline_content_addon>img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto
}

.timeline_content_addon blockquote {
    margin: 8px 0 8px 8px;
    font-size: 15px
}

.timeline.timeline_small {
    padding: 4px 0 4px 48px
}

.timeline.timeline_small:before {
    left: 16px
}

.timeline.timeline_small .timeline_item {
    min-height: 32px
}

.timeline.timeline_small .timeline_icon {
    left: -50px;
    height: 40px;
    width: 40px
}

.timeline.timeline_small .timeline_icon .material-icons {
    color: #fff;
    font-size: 18px;
    line-height: 32px
}

.timeline.timeline_small .timeline_date {
    float: none;
    text-align: left;
    font-size: 11px;
    padding-left: 4px;
    padding-top: 0px;
}

.timeline.timeline_small .timeline_date span {
    display: inline
}

.timeline.timeline_small .timeline_content {
    font-size: 13px
}

.timeline.timeline_small .timeline_content .md-list li {
    margin-left: 0;
    text-align: center
}

.timeline.timeline_small .timeline_content .md-list .md-list-addon-element {
    width: auto;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 0
}

.timeline.timeline_small .timeline_content blockquote {
    font-size: 13px
}

@media only screen and (min-width:768px) {
    .timeline.timeline-center {
        padding: 8px 0
    }
    .timeline.timeline-center:before {
        left: 50%;
        margin-left: -2px
    }
    .timeline.timeline-center .timeline_item {
        padding: 24px 0;
        width: 50%
    }
    .timeline.timeline-center .timeline_item .timeline_date {
        position: absolute;
        float: none;
        white-space: nowrap;
        padding-top: 6px;
        margin-right: 0
    }
    .timeline.timeline-center .timeline_item .timeline_date span {
        display: inline
    }
    .timeline.timeline-center .timeline_item .timeline_content {
        padding: 16px 24px;
        background: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
        border-radius: 4px;
        position: relative;
        overflow: visible
    }
    .timeline.timeline-center .timeline_item .timeline_content_addon {
        background: 0 0;
        box-shadow: none;
        padding: 0;
        max-width: 100%;
        margin-top: 0
    }
    .timeline.timeline-center .timeline_item .timeline_content_info {
        display: block;
        font-size: 13px;
        color: #727272;
        padding-bottom: 10px
    }
    .timeline.timeline-center .timeline_item .timeline_content:after,
    .timeline.timeline-center .timeline_item .timeline_content:before {
        position: absolute;
        content: '';
        display: block;
        border: 8px solid transparent;
        top: 6px
    }
    .timeline.timeline-center .timeline_item:nth-child(even) {
        margin-left: 50%
    }
    .timeline.timeline-center .timeline_item:nth-child(even) .timeline_icon {
        left: -22px
    }
    .timeline.timeline-center .timeline_item:nth-child(even) .timeline_content {
        margin-left: 40px
    }
    .timeline.timeline-center .timeline_item:nth-child(even) .timeline_content:before {
        left: -16px;
        border-right-color: rgba(0, 0, 0, .1)
    }
    .timeline.timeline-center .timeline_item:nth-child(even) .timeline_content:after {
        left: -15px;
        border-right-color: #fff
    }
    .timeline.timeline-center .timeline_item:nth-child(even) .timeline_date {
        right: 100%;
        padding-right: 40px
    }
    .timeline.timeline-center .timeline_item:nth-child(odd) .timeline_icon {
        left: auto;
        right: -22px
    }
    .timeline.timeline-center .timeline_item:nth-child(odd) .timeline_date {
        left: 100%;
        padding-left: 40px
    }
    .timeline.timeline-center .timeline_item:nth-child(odd) .timeline_content {
        margin-right: 40px
    }
    .timeline.timeline-center .timeline_item:nth-child(odd) .timeline_content:before {
        right: -16px;
        border-left-color: rgba(0, 0, 0, .1)
    }
    .timeline.timeline-center .timeline_item:nth-child(odd) .timeline_content:after {
        right: -15px;
        border-left-color: #fff
    }
    .timeline.timeline-center .timeline_item:nth-child(odd) .timeline_content_addon {
        display: inline-block
    }
}
/* //TIMELINE HORIZONTAL -------------------------- */









/*large+ screen sizes*/
@media (min-width:1366px) {
    .btn-floating {
      left: 250px;
    }
}


/*medium+ screen sizes*/
@media (min-width:992px) {
    .tracking {
        margin-left: 40%;
    }
    .btn-floating {
      left: 45px;
    }

    .index_searchbar {
        position: relative;
        color: #aaa;
        font-size: 16px;
        margin-top: 15px;
        padding-left: 25%;
        width: 75%;
    }

    .index_searchbar input {
      height: 32px;
      background: #fcfcfc;
      border: 1px solid #aaa;
      border-radius: 3px;
      /*box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;*/
    }

    .index_searchbar input { text-indent: 32px;}
    .index_searchbar .fa-search { 
      position: absolute;
      top: 8px;
      left: 97%;
    }
}

/*small screen sizes*/
@media (max-width: 991px) {
    .tracking {
        margin-left: 10%;
    }
    .btn-floating {
      left: 23px;
    }
/*    .stepper_style {
      width: 100%;
    }*/
    .message-btn {
      padding-top: 20px;
    }
    .index_searchbar {
        position: relative;
        color: #aaa;
        font-size: 16px;
        margin-top: -35px;
        left: -15px;
        width: 100%;
    }

    .index_searchbar input {
      height: 32px;
      background: #fcfcfc;
      border: 1px solid #aaa;
      border-radius: 3px;
      /*box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;*/
    }

    .index_searchbar input { text-indent: 20px;}
    .index_searchbar .fa-search { 
      position: absolute;
      top: 8px;
      left: 93%;
    }
}



/* CHOOSING DEVICE CONTENT */

/*small screen sizes*/
@media (max-width: 991px) {
    .mobile-only {
        display:block !important;
    }
 
    .desktop-only {
        display:none !important;
    }
}

/*medium+ screen sizes*/
@media (min-width:992px) {
    .desktop-only {
        display:block !important;
    }
}