.error-page{
  text-align: center;

  @media #{$medium-and-up}{
    left: 50%;
    margin-right: -50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  h3{
    color: #7E8A98;
    font-size: 80px;
    margin: 0 0 20px 0;

    span{
      left: -100%;
      position: absolute;
      text-indent: -99999px;
    }
    .material-icons{
      display: block;
      font-size: 140px;
    }
  }
  h4{
    color: #7E8A98;
    font-size: 35px;
    margin: 0 0 10px 0;
  }
  p{
    color: #7E8A98;
    line-height: 30px;
    margin: 0;
    a{
      color: #69B4E6;
    }
  }
}
