.links{
  height: auto;
  line-height: normal;
  a{
    @extend .link;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px; &:last-child{ margin-right: 0 }
  }
}


.heading a{
  font-size: 20px;
  font-weight: 600;
}
