.notification{
  display: inline-block;
  margin: 10px 20px 0 10px;
  position: relative;
  vertical-align: top;
  .dropdown-button{
    color: $color-background;
    display: inline-block;
    pointer-events: none;
    .material-icons{
      font-size: 30px;
    }
  }
  .notification-alert{
    color: $color-primary;
    pointer-events: auto;
    &-icon {
      font-size: 30px;
      color: white;
      cursor: pointer;
    }
    &-amount{
      background: $color-secondary;
      border-radius: 100px;
      color: $color-background;
      font-size: 11px;
      padding: 4px;
      position: relative;
      right: 9px;
      top: -23px;
    }
  }
}

.notification-item {
  &-default {
    color: $color-primary;
  }
  &-danger {
    color: red;
  }
  &-information {
    color: $color-primary;
  }
  &-success {
    color: green;
  }
  &-warning {
    color: $color-secondary;
  }
}

.notification-list {
  &-empty {
    padding: 10px;
    i {
      display:block;
      font-size: 66px;
      width: 66px;
      margin:auto;
      color: $color-text-grayed;
    }
    span {
      text-align: center;
      display:block;
    }
  }
  &-icon {
    font-size: 33px;
    display: inline-block;
    width: 45px;
    vertical-align: middle;
  }

  &-content {
    vertical-align: middle;
    display: inline-block;
    &-title{
      font-size: 16px;
      font-weight: 400;
    }
    &-message{
      font-weight: 500;
      font-size: 14px;
    }
    &-date{
      font-size: 12px;
      position: absolute;
      right: 15px;
      bottom: 10px;
    }
  }
  &-item {
    width: 300px;
  }
  &-card {
    position: relative;
    width: 300px;
    padding: 10px 10px;
    height: 80px !important;
    background-color: transparent !important;
    cursor: initial !important;
  }

  &-showAll {
    a {
      text-align: center;
      width: 100%;
    }

  }
}
