.pagination{
  text-align: center;
  li{
    &.active, &.hover, &.focus{
      background: $color-secondary;
      color: $color-background;
    }
    a {
      height: 30px;
    }
  }

  svg {
    width: 30px;
    height: 30px;
  }

  .hide {
    display: none;
  }
}
