.permission-forbidden {
  display: inline-block;
  svg {
    margin-left: 10px;
    width: 20px;
    vertical-align: text-bottom;
  }
  span {
    font-size: 12px;
    color: $color-secondary;
    margin-left: 5px;
  }
}
