.tabs{
  background: rgba(0, 0, 0, 0);
  margin-bottom: 40px;
  text-align: center;
  width: auto;

  button.tab{
    line-height: 30px;
    border-radius: 45px;
    color: $color-secondary;
    padding: 0 25px; @media #{$medium-and-up} { padding: 0 60px; }
    text-decoration: none;
    &:hover{
      color: $color-secondary;
      background-color: transparent;
      text-decoration: none;
    }
    &.active{
      color: white;
      background-color: $color-secondary;
      position: relative;
      z-index: 1;
    }

    span {
      white-space: nowrap;
    }
  }

  .indicator {
    background-color: $color-secondary;
    border-radius: 42px;
    height: auto;
    top: 0;
  }
}

.tabs-fixed{
  overflow-y: hidden !important;
}

.tabs-indicator {
  display: none;
}