// classic table
.table{
  caption{
    color: #95989A;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
  }

  thead{
    background: #F7F8FC;
    border-bottom: 2px solid #fff;
    display: none;
    @media #{$large-and-up}{ display: table-header-group; }
   tr th{
     color: #95989A;
     font-size: 11px;
     font-weight: 500;
     padding: 15px 30px;
     text-transform: uppercase;
   }
  }

  tbody{
    display: block;  @media #{$large-and-up}{ display: table-row-group; }
    tr{
      background: #F3F7FD;
      display: block; @media #{$large-and-up}{ display: table-row; }
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0
      }
      &:nth-child(odd){
        @media #{$large-and-up}{
          background: #E8ECF3;
        }
      }
      td{
        border-bottom: 2px solid #fff;
        color: #7E8A98;
        display: block;
        @media #{$large-and-up}{ display: table-cell; }
        font-size: 16px;
        font-weight: 300;
        padding: 20px 30px;
        vertical-align: top;
        &[data-title]:before {
          @media #{$medium-and-down}{
            content: attr(data-title);
            color: #95989A;
            display: block;
            font-size: 11px;
            font-weight: 500;
            vertical-align: bottom;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .show-more-items-message {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;

    i {
      margin-left: 5px;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
    }
  }
}



// collapse table
.table-collapsible{
  display: none;
  @media #{$large-and-up} {
    display: block;
  }

  &__header{
    background: #f7f8fc;
    border-bottom: 2px solid #fff;
    p{
      color: #95989A;
      font-size: 11px;
      font-weight: 500;
      padding: 15px 30px;
      text-transform: uppercase;
    }
  }
  &--number{
    text-align: right;
  }



  &__row{
    border-bottom: 2px solid #fff;
    .table-collapsible__visible{
      background: #F3F7FD;
    }
    &:nth-child(odd){
      .table-collapsible__visible{
        background: #E8ECF3;
      }
      .table-collapsible__toggle{
        border: 1px solid #e8ecf3;
      }
    }
    p {
      color: #7E8A98;
      font-size: 16px;
      font-weight: 300;
      padding: 20px 30px;
      margin: 0;
      vertical-align: top;
    }
  }
}


.table-collapsible__btn-show{
  background: transparent;
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  border: 0;
  position: relative;
  margin: 0 0 0 1rem;

  &:focus{
    background: transparent;
  }
  span{
    top: .5rem;
    position: absolute;
    width: .75rem;
    height: .1rem;
    background-color: #01C3DC;
    display: inline-block;
    transition: all .2s ease;

    &:first-of-type{
      left: 0;
      transform: rotate(45deg);
    }
    &:last-of-type{
      right: 0;
      transform: rotate(-45deg);
    }
  }
  &.active{
    span{
      &:first-of-type{
        transform: rotate(-45deg);
      }
      &:last-of-type{
        transform: rotate(45deg);
      }
    }
  }
}


.table-collapsible__toggle{
  background: white;
  border: 1px solid #f7f8fd;
  display: none;
  padding: 30px 40px;
  margin-bottom: 30px;
}


.table-collapsible__body{
  .table{
    thead{
      background: #7E8A98;

      tr th{
        color: #fff;
      }
    }
    tbody{
      tr, tr:nth-child(odd){
        background: #F7F8FC;
      }
    }
  }
}




.table__content--number{
  @media #{$large-and-up} {
    text-align: right;
  }
}
