.timeline{
  list-style: none;
  &__group{
    padding-bottom: 42px;
    padding-left: 30px;
    position: relative;
    &:before {
      background: #D9E1EB;
      border-radius: 100%;
      border: 3px solid #fff;
      content: '';
      height: 17px;
      left: -8px;
      position: absolute;
      top: 0;
      width: 17px;
      z-index: 1;
    }
    &:after {
      content: '';
      border-left: 1px #D8E0EB solid;
      position: absolute;
      left: 0;
      height: 100%;
      top: 0;
    }
    &:last-child{
      padding-bottom: 0;
      &:after {
        content: '';
        border-left: 0;
      }
    }
    &.current{
      &:before {
        background: #0DC4AF;
        content: '';
      }
      .timeline__group--status{
          color: #0DC4AF;
      }
    }
    &--content {
      display: inline-block;
    }
    &--description {
      display: inline-block;
      vertical-align: middle;
    }
    &--icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      i {
        font-size: 33px;
      }
    }
    &--status{
      color: #95989A;
      display: block;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }
    &--datetime{
      color: #7E8A98;
      display: block;
      font-size: 16px;
      font-weight: 300;
      min-height: 1.5rem;
    }
  }
  .title {
    color: #95989A;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: -5px;
    margin-bottom: 20px;
  }
}
