.user-profile{
  display: inline-block;
  position: relative;
}

.user-menu-item-child {
  padding: 15px 20px;
  width: 100%;
  height: 100%;
  color: $color-link
}

.user-menu {
  .user-menu-divider {
    line-height: 15px;
    padding-top: 10px;
    padding-left: 15px;
    outline: none;
  }
  .user-menu-item{
    left: 0;
    min-width: 300px;
    height: auto;
    padding: 0px;
    padding-left: 10px;
		a{
      @extend .user-menu-item-child;
    }
    span{
      @extend .user-menu-item-child;
    }
	}
}

.user-profile-avatar{
  background: white;
  border-radius: 100px;
  display: inline-block;
  height: 45px;
  overflow: hidden;
  vertical-align: middle;
  width: 45px;
  img{
    width: 100%;
  }
}


.user-profile-infos{
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  .user-profile-name{
    color: white;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    span{
      display: inline-block;
      max-width: 140px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    i{
      display: inline-block;
      height: auto;
      line-height: normal;
      position: relative;
      top: 1px;
      vertical-align: baseline;
    }
  }
  .user-profile-address{
    clear: both;
    color: $color-secondary;
    font-size: 11px;
    margin: 0;
    text-transform: uppercase;
    width: 100%;
  }
}
