.brand{
  display: inline-block;
  margin-left: 20px; @media #{$large-and-up} { margin-left: 0; }
  vertical-align: baseline; @media #{$large-and-up} { vertical-align: middle; }
  width: 201px;
  img{
    width: 100%;
  }
}
