.btn-submit{
  background: #01C3DC !important;
  border: 0;
  color: white !important;
  font-size: 14px;
  height: auto;
  line-height: normal;
  padding: 10px 25px;
}

.btn-default{
  background: $color-background;
  border: 1px solid $color-btn;
  border-radius: 3px;
  color: $color-btn;
  font-size: 14px;
  margin: 0 0 20px 0;
  &:last-child{ margin: 0; }
  padding: 10px 40px;
  text-transform: uppercase;
  width: 100%;

  @media #{$medium-and-up}{
    margin: 0 20px 0 0;
    &:last-child{ margin: 0; }
    width: auto;
  }

  .material-icons{
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
  }
  &:hover, &:focus{
    background: $color-btn;
    color: $color-background;
  }

}

.btn-create{
  @extend .btn-default;
  border-color: $color-btn-alternative;
  color: $color-btn-alternative;

  &:hover, &:focus{
    background: $color-btn-alternative;
  }
}

.btn-edit{
  @extend .btn-default;
  border-color: $color-secondary;
  color: $color-secondary;

  &:hover, &:focus{
    background: $color-secondary;
  }
}

button {
  &:focus {
      background-color: transparent;
  }
}
