.my-card{
  @extend .card-panel;
  border-radius: 5px;
  box-shadow: none;
  margin: 0 0 20px 0;
  padding: 30px;
  transition: box-shadow .25s;

  &:hover, &:focus{
    background: $color-background;
    box-shadow: $box-card-shadow;
  }
}

.expandable-card {
  .expandable-card-content {
    margin-bottom: 40px;
    padding: 0;
  }
}