fieldset{
  border: 0;
  margin: 0;
  padding: 0;
}


.input-default{
  color: $color-text-primary;
  height: 40px;
  margin: 0;
  padding: 10px 145px 10px 25px;
  width: 100%;

  &:focus{
    border-bottom: 0;
    box-shadow: none;
  }
}
