html, body{
  height: 100%;
}

body{
  background: #f7f9fb;
}

.main-section {
  margin: 60px 0 0px 0;
}

.row{
  margin-bottom: 0;
}



nav{
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}

main {
  display: block;
}

.container{
  max-width: 1400px;
  width: 90%;
  @media #{$extra-large-and-up} {
    width: 90%;
  }
}

.global {
  background: #f7f9fb;
  min-height: 100%;
  padding-bottom: 200px;
  position: relative;
}
