.loading{  
    >div{ 
      margin: auto; 
      height: 70px; 
      padding: 30px 0; 
      left: 50%;
      margin-right: -50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    } 
} 