$color-background-header: #16294A;
$color-primary: #01C3DC;
$color-secondary: #FF7F00;

$color-btn: #7E8A98;
$color-btn-alternative: #039be5;

$color-link: #69B4E6;
$color-text-primary: #2C3344;
$color-text-grayed: #7E8A98;

$color-background: #fff;
$color-background-secondary: #7E8A98;

$box-card-shadow: 0 3px 3px rgba(0,0,0,0.08), 0px 3px 10px rgba(0,0,0,0.08);
