.widget{
  @extend .card-panel;
  border-radius: 5px;
  box-shadow: none;
  margin: 0 0 0 0;
  padding: 0px;
  transition: box-shadow .25s;

  &:hover, &:focus{
    background: $color-background;
    box-shadow: $box-card-shadow;
  }

  .section-title {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .table {
    margin-bottom: 2rem;
  }
}
