.search{
  .input-field{
    input{
      line-height: normal;
      padding: 20px 30px;
      width: 100%;
    }
    button{
      position: absolute;
      right: 13px;
      top: 13px;

      @media #{$small-and-down} {
        span{
          display: none;
        }
      }
    }
  }
}
