.card-frequency{
  >div{
    @extend .card-panel;
    box-shadow: none;
    padding: 0;
    transition: box-shadow .25s;
    &:hover, &:focus{
      box-shadow: $box-card-shadow;
    }
  }
}

.card-frequency{
  >div{
    color: $color-background-secondary;
    display: block;
    padding: 24px;
    &:hover{
      text-decoration: none;
    }
    .title{
      margin: 0;
      font-size: 20px;
      font-weight: 300;
    }
    .description{
      margin: 0;
      font-size: 12px;
      margin-top: 5px;
    }
  }
}
