footer {
  background: #E8ECF3;
  bottom: 0;
  padding: 30px 0 25px 0;
  position: absolute;
  width: 100%;

  img{
    display: block;
  }
  p{
    font-size: 12px;
    margin: 12px 0 0 0;
    text-align: right;
  }
}
