header{
  background: $color-background-header;

  @media #{$extra-large-and-up} { padding: 40px 0; }
  padding: 30px 0 35px 0;
  &.header-expanded{
    .search{
      display: block;
      margin: 10px auto 5px auto; @media #{$large-and-up} { margin: 40px auto 20px auto; }

      .input-default{
        height: auto;
        padding: 16px 20px;
      }
    }
  }

  &.header-compressed{
    .search {
      width: 100%;
      .label-default{
        display: none !important;
      }
    }
  }

  @media #{$medium-and-down} {
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: transparent;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: transparent;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: transparent;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: transparent;
    }
  }
}
