
.result-link-list-item{
  cursor: pointer;
  @extend .my-card;
  .heading{
    display: block;
    line-height: 24px;
    margin: 0;
     a{
      color: $color-link;
    }
  }
  p{
    color: #2C3344;
    font-size: 15px;
    font-weight: 300;
    margin: 10px 0 0 0;
  }
  .links{
    margin: 10px 0 0 0;
  }
  .url{
    color: #7db4e6;
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    margin-top: 4px;
    white-space: nowrap;
  }
}
