.search{
  display: block; @media #{$large-and-up} { display: inline-block; }
  height: auto;
  line-height: normal;
  position: relative;
  width: 100%; @media #{$large-and-up} { width: calc(100% - 250px); }
  @media #{$large-and-up} { max-width: 500px; }

  fieldset>div {
    position: relative;
  }

  .btn-submit{
    bottom: 0;
    margin-left: -3px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .input-default{
    background: #fff;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 5px 20px;
    width: calc(100% - 113px);
    &:focus{
      border-bottom: 0 !important;
      box-shadow: none !important;
    }
  }
  .input-suggestion-container{
    display: none;
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid;
    border-radius: 0px 0px 5px 5px;
    border-color: lightgray;
    z-index: 2;
    >ul{
      margin:0px;
    }
  }
  .input-suggestion-container-open{
    display: block !important;
  }

  .input-suggestion-container-item{
    width: 100%;
    justify-content: left;
    vertical-align: center;
    line-height: 1.4em;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    display: block;
    padding: 10px 20px;
    color: $color-link;
    min-height:30px;
  }
  .suggestionsContainer{
    display: none;
  }

  .label-default{
    display: block;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
  }
}
