.call-menu-mobile{
  background: rgba(0, 0, 0, 0);
  border: 0;
  display: inline-block; @media #{$large-and-up} { display: none; }
  line-height: normal;
  height: auto;
  padding: 0 3px;
  &:focus{
    background: $color-primary;
    border-radius: 2px;
    outline: none;
  }
  .material-icons{
    color: #fff;
    font-size: 33px;
  }
}


.close-menu-mobile{
  background: rgba(0, 0, 0, 0);
  border-radius: 2px;
  cursor: pointer;
  float: right;
  height: auto;
  padding: 0px !important;
  position: absolute;
  right: 10px;
  text-decoration: none;
  top: 10px;
  i{
    height: auto;
    line-height: normal;
  }
}


.sidebar{
  @media #{$large-and-up}{ display: none; }
  .user-profile{
    background: #12203a;
    overflow: hidden;
    width: 100%;

    &-header{
      border-bottom: 1px solid #182e54;
      padding: 40px 20px 30px 20px;
      overflow: hidden;
    }
    &-body{
      ul{
        margin: 0;
      }
      a{
        font-size: 14px;
        padding: 25px 20px;
        font-weight: 400;
        color: #fff;
        height: auto;
        line-height: normal;

        .material-icons{
          font-size: 18px;
          margin: 0 15px 0 0;
          color: #fff;
          height: auto;
          line-height: normal;
        }
      }
    }
  }
  .collapsible-header{
    line-height: 1.5;
    padding: 16px 40px 16px 16px;
    position: relative;
    .material-icons{
      height: auto;
      line-height: normal;
      margin: 0;
      position: absolute;
      top: 13px;
      right: 10px;
    }
  }
}
