.widget-header{
  border-bottom: 1px solid #F3F3F4;
  padding: 10px 14px 5px 14px;
  &-heading{
    line-height: 45px;
    color: #262C3D;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    .material-icons{
      font-size: 18px;
      position: relative;
      top: -6px;
    }
  }
  button{
    float: right;
    .widget-fav{
      background: transparent;
      border: 0;
      height: auto;
      line-height: normal;
      &:hover, &:focus, &.active{
        color: #ffd700;
      }
    }
  }
}


.widget-body{
  margin-bottom: 30px;
  padding: 30px;
  &-infos{
    margin-bottom: 40px;
    .name{
      color: #95989A;
      display: block;
      font-size: 12px;
      text-transform: uppercase;
    }
    .description{
      color: #7E8A98;
      display: block;
      font-size: 18px;
    }
  }
  .loading {
    min-height: 200px;
    position: relative;
  }
}

.widget-footer{
  background: #F3F7FD;
  border-radius: 0px 0px 5px 5px;
  margin: -30px;
  margin-top: 30px;
  padding: 30px;

  .btn-slide-toggle {
    &:focus {
      background-color: initial;
    }

    background: transparent;
    border: 0;
    color: $color-btn-alternative;
    font-size: 18px;
    font-weight: 500;

    .icon {
      height: 36px;
      vertical-align: middle;
      width: 36px;
    }
  }
}
