﻿body {
    background-color: #585b6b
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding: 8%;
}

.btn-login {
    width: 270px;
    height: 70px;
    font-weight: bold;
    font-size: large;
    padding: 15px;
    border: 0;
    outline: 0;
}

.form-login {
    background-color: #FFFFFF;
    width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px 20px;
}

.form-login img {
    width: 200px;
    padding-bottom: 20px;
}