.widget{
  .card-content{
    .title{
      border-bottom: 1px solid #e6e6e6;
      font-size: 24px;
      margin: 0 0 30px;
      padding-bottom: 20px;

      a{
        color: #0a3356;
      }
    }

    .subtitle{
      font-size: 20px;
      margin-bottom: 10px
    }
  }
}


.widget{
  .card-content{
    .widget-list-info{
      margin-top: 0;

      li{
        margin: 0 0 15px 0;
      }

      .name{
        color: #95989A;
        display: block;
        font-size: 12px;
        text-transform: uppercase;
      }

      .description{
        display: block;
        font-size: 20px;
        font-weight: 500;

        &.positive{
          color: #35ca35;
        }

        &.negative{
          color: #f71919;
        }
      }
    }
  }
}
