.widget{
  .card-header{
    .title{
      border-bottom: 1px solid #e6e6e6;
      font-size: 24px;
      margin: 0;
      padding: 24px 74px 24px 24px;
    }

    .btn-fav{
      background: none;
      border: 0;
      color: #c3c3c3;
      padding: 0;
      position: absolute;
      height: auto;
      line-height: normal;
      right: 24px;
      top: 24px;

      &.active{
        color: gold;
      }
    }
  }
}
