.history_entry {
  &--label {
    font-size: 13px;
  }
  &--value {
    font-weight: 350;
    margin-left: 7px;
    font-size: 15px;
  }
}

.lpn_movement {
  &--stagnated {
    color: $color-secondary;
  }

  &--source {
    color: red;
  }

  &--destiny {
    color: green;
  }
}
