.empty-chart {
    position: relative;
  
    img {
      width: 100%;
      opacity: 0.2;
    }
  
    .caption {
      position: absolute;
      text-align: center;
      top: 20%;
      width: 100%;
  
      a {
        font-size: 16px;
      }
      
      p {
        font-size: 18px;
      }
    }
  }